<html>
<head/>
    <body>
        <h1>New Account Options</h1>
        <form action='account' method='POST'>
            <p>Please enter information for new account</p>
            <table>
                <tr>
                    <td>first_name</td>
                    <td><input type='text' name='first_name'/></td>
                </tr>
                <tr>
                    <td>last_name</td>
                    <td><input type='text' name='last_name'/></td>
                </tr>
                <tr>
                    <td>email</td>
                    <td><input type='text' name='email'/></td>
                </tr>
                <tr>
                    <td>DOB (YYYY-MM-DD)</td>
                    <td><input type='text' name='dob'/></td>
                </tr>
                <tr>
                    <td>organization id</td>
                    <td><input type='text' name='organization_id'/></td>
                </tr>
                <tr>
                    <td>practitioner NPI</td>
                    <td><input type='text' name='practitioner_npi'/></td>
                </tr>
            </table>

            <br/>
            <p>After account creation, set new account roles to include:</p>
            <table>
                <tr>
                    <td>access_on_verify</td>
                    <td><input type="checkbox" name="access_on_verify"/></td>
                </tr>
                <tr>
                    <td>patient</td>
                    <td><input type="checkbox" name="patient"/></td>
                </tr>
                <tr>
                    <td>promote_without_identity_challenge</td>
                    <td><input type="checkbox" name="promote_without_identity_challenge"/></td>
                </tr>
                <tr>
                    <td>write_only</td>
                    <td><input type="checkbox" name="write_only"/></td>
                </tr>
                <tr>
                    <td>user_doc</td>
                    <td><input type="checkbox" name="post_user_doc"/></td>
                </tr>
                <tr>
                    <td>grant access to intervention name (leave blank to ignore)</td>
                    <td><input type="text" name="intervention_access"/></td>
                </tr>
                <tr>
                    <td>consent with same org</td>
                    <td><input type="checkbox" name="consent"/></td>
                </tr>
                <tr>
                    <td>PCa Dx</td>
                    <td><input type="checkbox" name="pca"/></td>
                </tr>
                <tr>
                    <td>Biopsy</td>
                    <td><input type="checkbox" name="biopsy"/></td>
                </tr>
                <tr>
                    <td>PCa Localized</td>
                    <td><input type="checkbox" name="localized"/></td>
                </tr>
                <tr>
                    <td>None Procedure Started</td>
                    <td><input type="checkbox" name="procedure"/></td>
                </tr>
            </table>

            <br/>
            <p>After account creation, use access URL or show email?</p>
            <table>
                <tr>
                    <td>Redirect to access URL (not set shows email)</td>
                    <td><input type="checkbox" name="access_url"/></td>
                </tr>
            <tr>
                <td>suspend initial queries</td>
                <td><input type='checkbox' name='suspend_initial_queries'/></td>
            </tr>
            </table>
            <input type='submit'/>
        </form>
    </body>
</html>
