<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <title>Patient and Caregiver Self-Management (demo)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ PORTAL }}/static/css/topnav.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/true-nth-base.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>

<div id="mainNav" class="nav-import">
</div>

<div class="container content-container">
	<div class="row">
		<div class="col-xs-12">
		  <h2>Patient and Caregiver Self-Management (demo)</h2>

			<p>This True Nth site provides feedback reports to patients and their caregivers summarizing their Quality of Life ("QOL") progress, 
			and putting this progress in the context of hundreds or thousands of men with similar demographic, clinical, and treatment profiles, 
			thereby allowing them to determine whether their recovery is on the expected trajectory or not. 
			The site will provide coaching related to known established self-management strategies that may benefit patients with bothersome 
			symptom dysfunctions. Where appropriate, patients and caregivers will be directed to other True NTH tools 
			(e.g., for sexual rehabilitation, exercise intervention, or social support) <em>text adapted from proposal language</em></p>

            {% if authorized %}
            <p><em>This information was retrieved from the portal's patient profile.</em></p>
            <p> Demographics: </p>
            {{ demographics }}
            {% endif %}
		</div>
	</div>
</div>	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
TOKEN = "{{ TOKEN }}"
{% if authorized %}
PORTAL_NAV_PAGE = "{{ PORTAL }}/api/protected-portal-wrapper-html";
{% else %}
PORTAL_NAV_PAGE = "{{ PORTAL }}/api/portal-wrapper-html/?login_url={{ login_url }}";
{% endif %}
PORTAL_HOSTNAME = new URL(PORTAL_NAV_PAGE).hostname;

// Return an XHR without XHR header so  it doesn't need to be explicitly allowed with CORS
function xhr_function(){
    // Get new xhr object using default factory
    var xhr = jQuery.ajaxSettings.xhr();
    // Copy the browser's native setRequestHeader method
    var setRequestHeader = xhr.setRequestHeader;
    // Replace with a wrapper
    xhr.setRequestHeader = function(name, value) {
        // Ignore the X-Requested-With header
        if (name == 'X-Requested-With') return;
        // Otherwise call the native setRequestHeader method
        // Note: setRequestHeader requires its 'this' to be the xhr object,
        // which is what 'this' is here when executed.
        setRequestHeader.call(this, name, value);
    }
    // pass it on to jQuery
    return xhr;
}

// AJAX callback
function embed_page(data){
    $("#mainNav")
        // Embed data returned by AJAX call into container element
        .html(data)
        // Todo: add "data-*" HTML attribute
}

$(document).ready(function() {

    var initial_xhr = $.ajax({
        url: PORTAL_NAV_PAGE,
        type:'GET',
        contentType:'text/plain',
        //dataFilter:data_filter,
        //xhr: xhr_function,
        crossDomain: true,
        {% if authorized %} xhrFields: {withCredentials: true}, {% endif %}
        beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + TOKEN); }
    }, 'html')
    .done(function(data) {
        embed_page(data);
        showSearch();
    })
    .fail(function(jqXHR, textStatus, errorThrown) {
        alert("Error loading nav elements from " + PORTAL_HOSTNAME);
    })
    .always(function() {
        // alert( "complete" );
    });

});
</script>
</body>
</html>
